# Cache
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.cache/

# Virtualenv
.venv/

# Coverage / testes
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# IDE / OS
.idea/
.DS_Store
Thumbs.db

# Env
.env

# Project
generated_images/*